body{
    background-color: aqua;
}
h1{
    font-size: large;
    font-family: 'Trebuchet MS';
}
h2{
    color: azure;
    font-size: large;
    font-family: Cambria;
}
h2{
    font-style: italic;
}
p{
    font-size: 35px;
}